# Android
*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx

# Python
**/__pycache__/
*.pyc
*.pyo
backend/venv/
backend/strivn.db

# DB
*.db
